
p, h2,#Greet, h4, h3,#All, #Register, #PST {
   text-align: center;
}
#navbar{
    border-bottom: solid;
    border-right: solid;
    border-color: #fff;
}
#post {
    background-color: #2aabd2;
}
body {
    background-color: #2aabd2;
}
#Greet
{
    border: solid;
    border-color: #5cb85c;
    background-color: #5cb85c;
    border-bottom-color: #fff;
}
#Info {
    padding-bottom: 9px;
    border-bottom: solid;
    border-color: #fff;
}